<% include partials/header %>
<h1><%=resthouse.name%></h1>

<img src="<%= resthouse.image %>">
<p><%= resthouse.address %></p>
<p><%= resthouse.city %></p>
<p><%= resthouse.description %></p>
<% include partials/footer %>